<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>D3 Applications - UI Templates</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">

    <link rel="shortcut icon" href="/favicon.ico">
    <script>
        // If fonts are cached, skip FFO.
        if (window.sessionStorage.fontsLoaded === 'true') {
            document.documentElement.classList.add("fonts-loaded");
        }
        else {
            var script = document.createElement("script");
            script.src = '{{ theme.uri ~ "/build/" ~ manifest['fontloader.js'] }}';
            script.async = true;
            document.head.appendChild(script);
        }
    </script>

	{{ function('wp_head') }}
</head>
