{# layout.twig #}

{% include '1_core/head.twig' %}

<body {{ function('body_class') }}>

{% include '4_regions/header.twig' %}

{% block page %}{% endblock %}

{% include '4_regions/footer.twig' %}

</body>
</html>
