{# layout.twig #}

{% include '1_core/head.twig' %}

<body {{ function('body_class') }}>

{% include '4_regions/header.twig' %}

<div class="layout-sidebar">
	{% block header %}{% endblock %}
	<div class="wrapper">
		<div class="layout-sidebar__inner">
			<main>
				{% block page %}{% endblock %}
			</main>
			<aside>
				{% block sidebar %}{% endblock %}
			</aside>
		</div>
	</div>
</div>


{% include '4_regions/footer.twig' %}

</body>
</html>
