<div class="fact">
	<div class="fact__icon">
		<i class="fa fa-{{ fact.icon }}"></i>
	</div>
	<div class="fact__content">
		<h5 class="fact__title">{{ fact.title }}</h5>
		{{ fact.content }}
	</div>
</div>
