<div class="footer-top">
	<div class="global-footer__container">
		<div class="row">
			<div class="span-12 span-3@tabletLarge">
				<div class="footer-widget">
					<h3 class="footer-widget__title"><span class="is-red">About</span> Us</h3>
					<div class="footer-widget__content">
						<p>Auto Sound is leader in aftermarket vehicle installations and focusing on mobile electronics and trim.  We are proud to be at the forefront of sales, customer service, education and support.</p>
					</div>
					<div class="footer-social">
						<ul>
							<li><a class="footer-social__link" href="https://www.facebook.com/AutoSoundCompany" target="_blank"><span class="fa fa-facebook"></span></a></li>
							<li><a class="footer-social__link" href="https://twitter.com/AutoSoundMA" target="_blank"><span class="fa fa-twitter"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="span-12 span-3@tabletLarge">
				<div class="footer-widget">
					{% include '2_pieces/store-info.twig' with {
						title: 'Plainville',
						theme: 'dark',
						id: 1,
						selector: false,
						icons: false,
						contentItems: [
							{
								'icon': 'clock-o',
								'content': '<p>Mon - Fri: 8:00am - 5:00pm<br/>Sat: 8:00am - 3:00pm<br/>Sun: Closed</p>'
							},
							{
								'icon': 'map-marker',
								'content': '<p>109 Washington Street, <br/>Plainville, MA 02762</p>'
							},
							{
								'icon': 'phone',
								'content': '<p>Retail Show Room - 508-643-9925<br/>Whole Sale Dealer - 800-850-1004<br/>Whole Sale Dealer (Fax) - 508-643-3537</p>'
							}
						]
					} %}
				</div>
			</div>
			<div class="span-12 span-3@tabletLarge">
				<div class="footer-widget">
					{% include '2_pieces/store-info.twig' with {
						title: 'Plainville',
						theme: 'dark',
						id: 1,
						selector: false,
						icons: false,
						contentItems: [
							{
								'icon': 'clock-o',
								'content': '<p>Mon - Fri: 8:00am - 5:00pm<br/>Sat: 8:00am - 3:00pm<br/>Sun: Closed</p>'
							},
							{
								'icon': 'map-marker',
								'content': '<p>109 Washington Street, <br/>Plainville, MA 02762</p>'
							},
							{
								'icon': 'phone',
								'content': '<p>Retail Show Room - 508-643-9925<br/>Whole Sale Dealer - 800-850-1004<br/>Whole Sale Dealer (Fax) - 508-643-3537</p>'
							}
						]
					} %}
				</div>
			</div>
			<div class="span-12 span-3@tabletLarge">
				<div class="footer-widget">
					{% include '2_pieces/store-info.twig' with {
						title: 'Plainville',
						theme: 'dark',
						id: 1,
						selector: false,
						icons: false,
						contentItems: [
							{
								'icon': 'clock-o',
								'content': '<p>Mon - Fri: 8:00am - 5:00pm<br/>Sat: 8:00am - 3:00pm<br/>Sun: Closed</p>'
							},
							{
								'icon': 'map-marker',
								'content': '<p>109 Washington Street, <br/>Plainville, MA 02762</p>'
							},
							{
								'icon': 'phone',
								'content': '<p>Retail Show Room - 508-643-9925<br/>Whole Sale Dealer - 800-850-1004<br/>Whole Sale Dealer (Fax) - 508-643-3537</p>'
							}
						]
					} %}
				</div>
			</div>
		</div>
	</div>
</div>
