<div class="footer-top">
	<div class="global-footer__container">
		<div class="row">
			<div class="span-12 span-3@tabletLarge">
				<div class="footer-widget">
					<h3 class="footer-widget__title"><span class="is-red">About</span> Us</h3>
					<div class="footer-widget__content">
						<p>Auto Sound is leader in aftermarket vehicle installations and focusing on mobile electronics and trim.  We are proud to be at the forefront of sales, customer service, education and support.</p>
					</div>
					<div class="footer-social">
						<ul>
							<li><a class="footer-social__link" href="https://www.facebook.com/AutoSoundCompany" target="_blank"><span class="fa fa-facebook"></span></a></li>
							<li><a class="footer-social__link" href="https://twitter.com/AutoSoundMA" target="_blank"><span class="fa fa-twitter"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			{% for location in storeLocations %}
				<div class="span-12 span-3@menuBreakpoint">
					<div class="footer-widget">
						{% include '2_pieces/store-info.twig' with {
							title: location.title,
							theme: 'dark',
							icons: true,
							contentItems: [
								{
									icon: 'clock-o',
									content: location.hours
								},
								{
									icon: 'map-marker',
									content: location.address
								},
								{
									icon: 'phone',
									content: location.phoneDetail
								}
							],
							selector: false
						} %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
