{% set data = {
	locations: storeLocations
}%}

<div class="header-top">
	<div class="global-header__container">
		<div class="header-top__inner">
			<div class="header-top__stores" data-module="storeSelector" data-initial-data="{{- data|json_encode|escape('html') -}}">

			</div>
			<div class="header-top__search" data-module="headerSearch">
				<a href="#" data-toggle>
					<i class="fa fa-search open"></i>
					<i class="fa fa-close close"></i>
				</a>
				<form class="" action="#" method="post">
					<input type="text" name="search" value="" data-search/>
				</form>
			</div>
		</div>
	</div>
</div>
