<div class="location__info">
	{% include '2_pieces/store-info.twig' with {
		title: location.title,
		theme: 'light',
		icons: true,
		contentItems: [
			{
				icon: 'clock-o',
				content: location.hours
			},
			{
				icon: 'map-marker',
				content: location.address
			},
			{
				icon: 'envelope-o',
				content: '<p><a href="mailto:' ~ location.email ~ '">' ~ location.email ~ '</a></p>'
			},
			{
				icon: 'phone',
				content: location.phoneDetail
			}
		],
		selector: true,
		link: {
			title: "Get Directions",
			url: location.directions,
			target: '_blank'
		}
	} %}
</div>
