<div class="not-found">
	<div class="not-found__icon">
		<i class="fa fa-frown-o"></i>
	</div>
	<h1>Page Not Found!</h1>
	<h3>The page you are looking for does not exist.</h3>
	<div class="not-found__buttons">
		<a class="btn btn-black has-icon has-icon--left">
			<i class="fa fa-arrow-left"></i>
			Go Back
		</a>
		<a class="btn btn-primary has-icon has-icon--right">
			Home
			<i class="fa fa-home"></i>
		</a>
	</div>
</div>
