<form method="get" id="searchform" class="searchform" action="/">
	<div class="searchform__group">
		<input type="text" name="s" id="s" placeholder="Search" />
		<i class="fa fa-search"></i>
	</div>
</form>
