<section class="section {{section.class}}" style="{{section.backgroundColor is defined and section.backgroundColor != '' ? 'background-color: ' ~ section.backgroundColor ~ ';' : ''}}">
	{% if section.contain %}
	<div class="wrapper">
	{% endif %}

	<div class="section__inner">
		{% block sectionContent %}

		{% endblock %}
	</div>

	{% if section.contain %}
	</div>
	{% endif %}
</section>
