{% set section = {
	class: 'section--contact',
	contain: true
} %}
{% embed '4_regions/section.twig' %}
	{% block sectionContent %}
		<div class="row">
			<div class="span-12 span-8@tabletLarge">
				<div class="section--contact__form">
					{% embed '2_pieces/form-card.twig' %}
						{% block formContent %}
							<div class="form-card__header">
								<h3>{{ page.title }}</h3>
							</div>
							<div class="form-card__body">
								{% set form = {
									groups: page.form.get_field('formGroups'),
									rows: page.form.get_field('formRows'),
									successMessage: page.form.get_field('formSuccessMessage'),
									errorMessage: page.form.get_field('formErrorMessage'),
									action: 'autosound/v1/quoteForm'
								} %}
								<div data-module="form" data-initial-data="{{- form|json_encode|escape('html') -}}"></div>
							</div>
						{% endblock %}
					{% endembed %}
				</div>
			</div>
			<div class="span-12 span-4@tabletLarge">
				<div class="section--contact__sidebar">
					{% embed '2_pieces/form-card.twig' %}
						{% block formContent %}
							<form class="" action="index.html" method="post">
								<div class="form-card__header">
									<h3>Contact <span class="is-red">Info</span></h3>
								</div>
								<div class="form-card__body">
									{% include '2_pieces/contact-locations.twig' with {
										locations: sidebar.locations
									} %}
								</div>
							</form>
						{% endblock %}
					{% endembed %}
				</div>
			</div>
		</div>
	{% endblock %}
{% endembed %}
