{% set section = {
	class: 'section--wholesale',
	contain: true
} %}

{% embed '4_regions/section.twig' %}
	{% block sectionContent %}
		<div class="section--wholesale__content">
			{{ post.content }}
		</div>
		<div class="section--wholesale__forms">
			<div class="row">
				<div class="span-12 span-6@tablet">
					{% embed '2_pieces/form-card.twig' %}
						{% block formContent %}
							<div class="form-card__header">
								<h3>Existing <span class="is-red">Dealers</span></h3>
							</div>
							<div class="form-card__body">
								{{function('wp_login_form', {
									label_username: 'Username',
									label_password: 'Password'
								})}}
							</div>
						{% endblock %}
					{% endembed %}
				</div>
				<div class="span-12 span-6@tablet">
					{% embed '2_pieces/form-card.twig' %}
						{% block formContent %}
							<div class="form-card__header">
								<h3>Existing <span class="is-red">Dealers</span></h3>
							</div>
							<div class="form-card__body">
								<form class="" action="index.html" method="post">
									<div class="row">
										<div class="span-12 span-6@tablet">
											<input type="text" name="name" value="" placeholder="Name"/>
										</div>
										<div class="span-12 span-6@tablet">
											<input type="text" name="company" value="" placeholder="Company"/>
										</div>
									</div>
									<div class="row">
										<div class="span-12 span-6@tablet">
											<input type="email" name="email" value="" placeholder="Email"/>
										</div>
										<div class="span-12 span-6@tablet">
											<input type="text" name="title" value="" placeholder="Title"/>
										</div>
									</div>
									<div class="row">
										<div class="span-12">
											<textarea name="message" placeholder="Message"></textarea>
										</div>
									</div>
									<div class="row">
										<div class="span-12">
											<input type="submit" value="Send"/>
										</div>
									</div>
								</form>
							</div>
						{% endblock %}
					{% endembed %}
				</div>
			</div>
		</div>
	{% endblock %}
{% endembed %}
