.carousel {
	.swiper-container {
		height: 100%;
		width: 100%;
	}

	.swiper-button-next,
	.swiper-button-prev {
		@include fontSize(50, 50);
	}

	.swiper-button-prev {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='#{$red}'/%3E%3C/svg%3E");
	}

	.swiper-button-next {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='#{$red}'/%3E%3C/svg%3E");
	}

	.swiper-pagination-bullet {
		background-color: $greyLight;
		opacity: 1;
	}

	.swiper-pagination-bullet-active {
		background-color: $red;
	}
}
