.carousel-slide {
	position: relative;

	&__overlay {
		background-color: rgba($black, 0.3);
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: index($globalIndex, carousel-overlay);
	}
}
