{# t02-inner-page.twig #}
{% extends '1_core/layout.twig' %}

{% block page %}
	{% include '4_regions/hero--title.twig' with {
		hero: {
			title: post.get_field('heroTitleTitle') != '' ? post.get_field('heroTitleTitle') : post.post_title,
			breadcrumbs: breadcrumbs
		}
	} %}
	<div>
		<select name="selectTest">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
	</div>
	{% include '4_regions/section--contact.twig' with {
		page: {
			title: post.get_field('contactPageTitle'),
			form: post.get_field('contactPageForm')
		},
		sidebar: {
			locations: storeLocations
		}
	} %}
{% endblock %}
