{# t01-homepage.twig #}
{% extends '1_core/layout.twig' %}

{% block page %}
	{% include '4_regions/hero--carousel.twig' with {
		hero: {
	  	slideStyle: "carousel-slide--hero",
	  	items: [
	  		{
	  			image: theme.uri ~ "/build/images/hero-1.jpg"
	  		},
	  		{
	  			image: theme.uri ~ "/build/images/hero-2.jpg"
	  		},
	  		{
	  			image: theme.uri ~ "/build/images/hero-3.jpg"
	  		}
	  	]
	    }
	} %}
	{% include '4_regions/section--half--left.twig' with {
		title: 'Celebrating <span class="is-red">45 Years</span>',
		content: '<p>We are excited to be celebrating our 45th year of quality aftermarket installations.  From simple remote starters and radios, to top quality custom leather interiors and power moon roofs, we have lots of great products to customize your car.  Since 1971, Auto Sound has been family owned, operated, and managed which is one reason our customers come back every time they purchase or lease a new or used vehicle.</p>',
		image: {
			url: 'http://via.placeholder.com/570x360.jpg',
			alt: 'Image'
		},
		cta: {
			linkHref: '#',
			linkText: 'Learn More'
		}
	} %}
	{% include '4_regions/section--products.twig' with {
		title: '<i>Our <span class="is-red">Products</span></i>',
		cta: {
			linkHref: "#",
			linkText: "More Products"
		},
		products: [
		  {
			  id : 1,
			  title: "SINGLE BUTTON REMOTE START",
			  link: {
				  linkHref: "#"
			  },
			  price: "20.00",
			  image: {
				  url: theme.uri ~ "/build/images/product.jpg"
			  },
			  features: [
				  {
					  icon: "tag",
					  text: "2 Transmitters"
				  },
				  {
					  icon: "clock-o",
					  text: "Selectable Run Time"
				  },
				  {
					  icon: "shield",
					  text: "Lifetime Warranty"
				  }
			  ]
		  },
		  {
			  id : 2,
			  title: "SINGLE BUTTON REMOTE START",
			  link: {
				  linkHref: "#"
			  },
			  price: "20.00",
			  image: {
				  url: theme.uri ~ "/build/images/product.jpg"
			  },
			  features: [
				  {
					  icon: "tag",
					  text: "2 Transmitters"
				  },
				  {
					  icon: "clock-o",
					  text: "Selectable Run Time"
				  },
				  {
					  icon: "shield",
					  text: "Lifetime Warranty"
				  }
			  ]
		  },
		  {
			  id : 3,
			  title: "SINGLE BUTTON REMOTE START",
			  link: {
				  linkHref: "#"
			  },
			  price: "20.00",
			  image: {
				  url: theme.uri ~ "/build/images/product.jpg"
			  },
			  features: [
				  {
					  icon: "tag",
					  text: "2 Transmitters"
				  },
				  {
					  icon: "clock-o",
					  text: "Selectable Run Time"
				  },
				  {
					  icon: "shield",
					  text: "Lifetime Warranty"
				  }
			  ]
		  },
		  {
			  id : 4,
			  title: "SINGLE BUTTON REMOTE START",
			  link: {
				  linkHref: "#"
			  },
			  price: "20.00",
			  image: {
				  url: theme.uri ~ "/build/images/product.jpg"
			  },
			  features: [
				  {
					  icon: "tag",
					  text: "2 Transmitters"
				  },
				  {
					  icon: "clock-o",
					  text: "Selectable Run Time"
				  },
				  {
					  icon: "shield",
					  text: "Lifetime Warranty"
				  }
			  ]
		  },
		  {
			  id : 5,
			  title: "SINGLE BUTTON REMOTE START",
			  link: {
				  linkHref: "#"
			  },
			  price: "20.00",
			  image: {
				  url: theme.uri ~ "/build/images/product.jpg"
			  },
			  features: [
				  {
					  icon: "tag",
					  text: "2 Transmitters"
				  },
				  {
					  icon: "clock-o",
					  text: "Selectable Run Time"
				  },
				  {
					  icon: "shield",
					  text: "Lifetime Warranty"
				  }
			  ]
		  },
		  {
			  id : 6,
			  title: "SINGLE BUTTON REMOTE START",
			  link: {
				  linkHref: "#"
			  },
			  price: "20.00",
			  image: {
				  url: theme.uri ~ "/build/images/product.jpg"
			  },
			  features: [
				  {
					  icon: "tag",
					  text: "2 Transmitters"
				  },
				  {
					  icon: "clock-o",
					  text: "Selectable Run Time"
				  },
				  {
					  icon: "shield",
					  text: "Lifetime Warranty"
				  }
			  ]
		  }
		]
	} %}
	{% include '4_regions/section--services.twig' with {
		title: '<i>Our <span class="is-red">Services</span></i>',
		services: [
  		  {
  			  id: 1,
  			  title: "<span class='is-red'>Remote</span> Starters",
  			  link: {
  				  "linkHref": "#"
  			  },
  			  image: {
  				  "url": theme.uri ~ "/build/images/service-1.jpg"
  			  },
  			  description: "<p>Warm up your car this winter with a remote start from Auto Sound. From basic single button, to advanced two-way confirming systems with phone app support. We have solutions across multiple price points.</p>"
  		  },
  		  {
  			  id: 2,
  			  title: "<span class='is-red'>Audio</span> Upgrades",
  			  link: {
  				  "linkHref": "#"
  			  },
  			  image: {
  				  "url": theme.uri ~ "/build/images/service-2.jpg"
  			  },
  			  description: "<p>We offer audio upgrades from top companies like Alpine, Kicker, Kenwood, and Pioneer. Our sales team will help you find the perfect solution to increase the volume, clarity, and/or features of your car’s audio system. We have solutions to fit just about any budget.</p>"
  		  },
  		  {
  			  id: 3,
  			  title: "<span class='is-red'>Auto</span> Detailing",
  			  link: {
  				  "linkHref": "#"
  			  },
  			  image: {
  				  "url": theme.uri ~ "/build/images/service-3.jpg"
  			  },
  			  description: "<p>Our Middleton location is now offering complete interior and exterior automotive detailing. Our Simoniz trained detailers will have your car, truck, or suv looking like it just came off the showroom floor.</p>"
  		  }
  	  ]
	} %}
	{% include '4_regions/section--about.twig' with {
		title: "<i>Why Choose <span class='is-red'>AutoSound</span></i>",
		facts: [
		{
			icon: "clock-o",
			title: "<span class='is-red'>Family Owned</span> Since 1971",
			content: "<p>Auto Sound is a Family business that opened its’ doors in 1971. We are a leader in aftermarket vehicle installations and focusing on mobile electronics and trim.  Family owned and operated, we are proud to be at the forefront of sales, customer service, education and support.  Its’ our pleasure to help make driving more enjoyable, and look forward to building a lasting relationship with you and your vehicle.</p>"
		},
		{
			icon: "clock-o",
			title: "<span class='is-red'>12 Volt</span> Services",
			content: "<p>We offer a variety of 12 volt services including: alarms, remote starters, keyless entry systems, power windows, power door locks, satellite radio, iPod integration, speaker replacement, amplifier installation, mobile video, GPS navigation, head unit replacement, radar/laser detection systems, reverse obstacle sensors, rearview cameras, vehicle GPS tracking, and Bluetooth connection solutions.</p>"
		},
		{
			icon: "clock-o",
			title: "<span class='is-red'>Auto Trim</span> Services",
			content: "<p>The automotive trim industry has grown at an unprecedented rate over the past decade. Our talented installation team can dress up your car to make it have that new car feel all over again. Trim accessories include: rear wing spoilers, window tinting, airbag-safe leather interiors, heated seats, and full power sunroofs.</p>"
		},
		{
			icon: "clock-o",
			title: "Top Quality <span class='is-red'>Customer Service</span>",
			content: "<p>Customer service & top quality installations will always remain our top priority. Auto Sound is committed to making sure our customers are 100% satisfied to ensure that you, your family, and your friends visit us for all of you aftermarket installation needs.</p>"
		}
		]
	} %}
{% endblock %}
