.fact {
	white-space: nowrap;

	&__icon,
	&__content {
		display: inline-block;
		vertical-align: top;
		white-space: normal;
	}

	&__icon {
		border: 1px solid $red;
		border-radius: 4px;
		height: 60px;
		text-align: center;
		width: 60px;

		i {
			@include fontSize(30, 60);
			line-height: 58px !important;
		}
	}

	&__content {
		padding-left: 20px;
		width: calc(100% - 60px);
	}

	&__title {
		font-style: italic;
		margin: 0 0 10px;
	}
}
