@mixin headerTopBlockActive {
	@include respond-to(collapseUp) {
		background-color: $grey;
		color: $black;

		.content {
			&__actions {
				opacity: 1;

				a {
					color: $red;
				}
			}
		}

		.dropdown {
			max-height: 1000px;
			opacity: 1;
			visibility: visible;
			transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s;
		}
	}
}

.header-top {
	background-color: $blackLight;
	display: none;
	color: $grey;
	height: 70px;
	padding: 0;

	@include respond-to(collapseUp) {
		display: block;
	}

	&__inner {
		position: relative;
		white-space: nowrap;
	}

	&__stores {
		padding-right: 0;

		@include respond-to(collapseUp) {
			padding-right: 70px;
		}
	}

	&__blocks {
		@extend .clearfix;
		width: 100%;
		white-space: nowrap;
	}

	&__block {
		align-items: flex-start;
		background-color: transparent;
		display: flex;
		float: left;
		padding: 11px $spacingUnit;
		position: relative;
		transition: all 0.3s;
		white-space: normal;

		&__close {
			color: $greyDark;
			cursor: pointer;
			font-size: 24px;
			position: absolute;
			right: 15px;
			top: 15px;
			transition: all 0.15s ease-in-out;

			&:hover {
				color: $red;
			}
		}

		> .icon {
			@include fontSize(36, 36);
			color: $red;
			margin-right: 10px;
		}

		.content {
			padding-top: 3px;
			min-width: 200px;

			h3,
			h5 {
				font-weight: 700;
				margin: 0;
				text-transform: uppercase;
			}

			h3 {
				@include fontSize(12, 12);
				color: $red;
			}

			h5 {
				@include fontSize(14, 16);
			}

			a {
				color: $white;
				text-transform: uppercase;

				&:hover {
					color: $red;
				}
			}

			&__body {
				margin-bottom: 4px;
			}

			&__actions {
				@include fontSize(12, 12);
				opacity: 0.6;

				* {
					display: inline-block;
					vertical-align: top;
				}
			}
		}

		.dropdown {
			background-color: $grey;
			box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
			left: 0;
			max-height: 0;
			opacity: 0;
			position: absolute;
			top: 100%;
			transition: none;
			visibility: hidden;
			z-index: index($globalIndex, header-dropdown);
		}

		&.active {
			@include headerTopBlockActive();
		}
	}

	&__search {
		background-color: $blackLighter;
		cursor: pointer;
		display: none;
		height: 70px;
		position: absolute;
		right: 0;
		transition: all 0.3s;
		top: 0;
		width: 70px;
		white-space: nowrap;

		@include respond-to(collapseUp) {
			display: block;
		}

		* {
			display: inline-block;
			height: 100%;
			vertical-align: top;
		}

		a,
		input {
			@include fontSize(24, 24);
		}

		a {
			border: none;
			color: $grey;
			height: 100%;
			padding: 20px 23px;
			width: 70px;
		}

		input {
			background-color: transparent;
			border: none;
			font-weight: 700;
		}

		form {
			overflow: hidden;
			visibility: hidden;
		}

		.open {
			display: block;
		}

		.close {
			display: none;
		}

		&:hover,
		&.active {
			background-color: $grey;
			color: $blackLighter;

			a {
				color: $blackLighter;
			}
		}

		&.active {
			max-width: 100%;
			width: 420px;

			.open {
				display: none;
			}

			.close {
				display: block;
			}

			form {
				visibility: visible;
				width: calc(100% - 85px);
			}
		}
	}

	.store-dropdown {
		// min-width: 650px;
		padding: 30px ($spacingUnit / 2);
	}

	&__stores {
		@include respond-to(collapseUp) {
			max-width: 100%;
			width: 1000px;
			white-space: nowrap;
		}
	}

	&__store {
		margin-bottom: $spacingUnit;

		@include respond-to(collapseUp) {
			box-sizing: content-box;
			display: inline-block;
			margin: 0 ($spacingUnit / 2);
			width: calc(calc(100% / 3) - #{$spacingUnit});
			white-space: normal;
		}
	}
}
