.product-features {
	@include noList();
	display: table;

	&__feature {
		@include fontSize(10, 14);
		color: $greyDarker;
		display: inline-table;
		margin-bottom: 5px;
		padding-right: 5px;
		width: 49%;
		white-space: nowrap;

		i {
			background-color: $greyDark;
			border-radius: 50%;
			color: $white;
			display: inline-block;
			height: 21px;
			line-height: 21px;
			margin-top: 2px;
			margin-right: 5px;
			text-align: center;
			width: 21px;
		}

		span {
			display: inline-block;
			vertical-align: middle;
			width: calc(100% - 20px);
			white-space: normal;
		}
	}
}
