.service-features {
	@include noList();

	li {
		display: inline-block;
		margin-bottom: $spacingUnit--s;
		white-space: nowrap;
		width: 49%;

		.fa {
			background-color: $red;
			border-radius: 50%;
			color: $white;
			height: 20px;
			line-height: 20px;
			margin-right: 10px;
			text-align: center;
			width: 20px;
		}

		.text {
			@include fontSize(12, 14);
			font-weight: 700;
			text-transform: uppercase;
			width: calc(100% - 30px);
			white-space: normal;
			vertical-align: middle;
		}
	}
}
