.shop-catalog {
	$filterWidth: 300px;
	$breakpoint: 1000px;

	&__header {
		border-bottom: 1px solid $greyMedium;
		margin-bottom: $spacingUnit--s;
		padding-bottom: $spacingUnit--s;
	}

	&__controls {
		@include respond-to(tablet) {
			white-space: nowrap;
		}

		.filters {
			display: block;

			@include respond-to(tablet) {
				display: inline-block;
				width: 50%;
			}
		}

		.sort {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			white-space: normal;

			@include respond-to(tablet) {
				text-align: right;
				width: 50%;
			}

			.select {
				display: block;
				margin-bottom: 0;
				min-height: 0;
				width: auto;

				@include respond-to(tablet) {
					display: inline-block;
				}
			}
		}
	}
}
