.shop-grid {
	&__row {
		@extend .clearfix;
		@include respond-to(tablet) {
			margin-left: $spacingUnit * -1;
			margin-right: $spacingUnit * -1;
		}
	}

	&__item {
		margin: 0 0 ($spacingUnit * 2);
		padding: 0;
		width: 100%;

		@include respond-to(tablet) {
			float: left;
			padding: 0 $spacingUnit;
			width: 50%;
		}

		@include respond-to(desktop) {
			width: calc(100% / 3);
		}
	}
}
