@mixin shopMenuDropdownActive {
	opacity: 1;
	max-height: 500px;
	visibility: visible;
	transition: all 0.15s ease-in-out;
}

.shop-menu {
	&__group {
		margin-bottom: $spacingUnit;

		h5 {
			border-bottom: 1px solid $greyMedium;
			margin: 0 0 10px;
			padding-bottom: 10px;
		}

		ul {
			@include noList;
			padding-left: 1em;

			&.no-padding {
				padding-left: 0;
			}

			li {
				margin-bottom: 5px;
				position: relative;

				a {
					color: $greyDarker;
					position: relative;

					&:hover {
						color: $red;
					}
				}

				&:hover {
					.shop-menu__dropdown {
						@include shopMenuDropdownActive();
					}
				}
			}
		}
	}

	&__dropdown-toggle {
		cursor: pointer;
		font-size: 20px;
		margin: 0 0 0 10px;
		vertical-align: middle;

		&:hover {
			color: $red;
		}
	}

	&__dropdown {
		opacity: 0;
		max-height: 0;
		transition: all 0.15s ease-in-out, visibility 0s 0.15s;
		visibility: hidden;

		&.active {
			@include shopMenuDropdownActive();
		}
	}
}
