.shop-catalog {
	$filterWidth: 300px;
	$breakpoint: 1000px;

	&__header {
		border-bottom: 1px solid $greyMedium;
		margin-bottom: $spacingUnit--s;
		padding: $spacingUnit--s 0;
	}

	&__controls {
		white-space: nowrap;

		.filters,
		.sort {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			white-space: normal;
		}

		.sort {
			text-align: right;

			.select {
				display: inline-block;
				margin-bottom: 0;
				min-height: 0;
				width: auto;
			}
		}
	}
}
