.hero--carousel {
	.swiper-pagination-bullet {
		@include respond-to(collapseDown) {
			background-color: $blackLight;
		}
	}

	.swiper-pagination-bullet-active {
		@include respond-to(collapseDown) {
			background-color: $red;
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		display: none;

		@include respond-to(collapseUp) {
			display: block;
		}
	}
}
