@mixin sectionSliderContainer {
	margin-bottom: 20px;
	margin-right: 0;
	max-width: 600px;

	@include respond-to(tabletLarge) {
		margin-bottom: 0;
		margin-right: 50px;
	}
}

.section--slider {
	.title {
		@include titleUnderline();
		margin: 0 0 35px;
	}

	.slider {
		max-width: 600px;
	}

	&--left {
		.content {
			@include sectionSliderContainer();
		}

		.slider {
			@include respond-to(tabletLarge) {
				margin-left: 50px;
			}
		}
	}

	&--right {
		.slider {
			@include sectionSliderContainer();
		}

		.content {
			@include respond-to(tabletLarge) {
				margin-left: 50px;
			}
		}
	}
}
