.section--half {
	.title {
		border-bottom: 1px solid $red;
		font-style: italic;
		padding-bottom: 20px;
	}

	.content {
		margin-bottom: 20px;
		margin-right: 0;

		@include respond-to(tabletLarge) {
			margin-bottom: 0;
			margin-right: 50px;
			max-width: 600px;
		}
	}

	&--right {
		.row {
			> div:first-child {
				@include respond-to(tabletLarge) {
					float: right;
				}
			}
		}

		.image {
			margin-bottom: 20px;
			margin-right: 0;

			@include respond-to(tabletLarge) {
				margin-bottom: 0;
				margin-right: 50px;
			}
		}

		.content {
			@include respond-to(tabletLarge) {
				margin-bottom: 0;
				margin-right: 0;
				max-width: 800px;
			}
		}
	}
}
